form{
    margin-top: 5rem;
    /* display: flex; */
    /* margin-left: 20rem; */
    /* flex-direction: column;
    justify-content: center; */
    padding: 5px;
    width: 50%;
    align-items: center;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);

}